body {
    margin: 0;
    padding: 0;
    font-family: Karla, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F7FB
}

.startGame {
    background-color: #4D5B9E;
    color: #F5F7FB;
    width: 195px;
    height: 55px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
}
.mainWrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 600px;
}
.lineBreak {
    width: 399px;
    height: 0;
    border: 1px solid #DBDEF0;
    transform: rotate(-0.05deg);
}
.quizQuestion {
    align-self: flex-start;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #293264;
}

.answerWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 3rem;
}

.bodyWrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.selectedAnswer {
    border: 1px solid #293264;
    font-style: normal;
    font-weight: 700;
    font-size: .75rem;
    min-width: 7rem;
    padding: 10px 20px;
    background-color: #D6DBF5;
    color: #293264;
    border-radius: 12px;
}

.answerButton {
    border: 1px solid #293264;
    font-style: normal;
    font-weight: 700;
    font-size: .75rem;
    min-width: 7rem;
    padding: 10px 7px;
    color: #293264;
    border-radius: 12px;
}

.answerButton:hover{
    border: 1px dashed #293264;
}
.gameResults {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
fieldset {
    display: grid;
    grid-template-columns:  25px 120px 25px 120px 25px 120px;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 15px;
    margin: 20px;
    border-radius: 15px;
    border: 3px solid #293264;
    color: #293264;
    font-weight: 600;
    font-size: 1.2rem;
}
.headingTitle {
    color: #293264;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 2rem 0 0 0;
    margin: 0;
}
.subHead {
    color: #293264;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
